*~
*.log
.debhelper/
.pc/
autoreconf.after
autoreconf.before
build-gnutls/
build-nss/
build/
curl.substvars
curl/
debhelper-build-stamp
files
libcurl3-gnutls.substvars
libcurl3-gnutls/
libcurl3-nss.substvars
libcurl3-nss/
libcurl4-doc.substvars
libcurl4-doc/
libcurl4-gnutls-dev.substvars
libcurl4-gnutls-dev/
libcurl4-nss-dev.substvars
libcurl4-nss-dev/
libcurl4-openssl-dev.substvars
libcurl4-openssl-dev/
libcurl4.substvars
libcurl4/
tmp-gnutls/
tmp-nss/
tmp/
